@import "tailwindcss";

/* .background-color {
    background-image: linear-gradient(to top, #434343 0%, black 100%);
} */

.neumorphic {
    /* background: #e1d77a;
    box-shadow: 20px 20px 40px rgba(216, 213, 204, 0.48), -20px -20px 40px rgba(255, 254, 252, 0.68); */
    border-radius: 50px;
}

.neumorphic-button {
    background: #f0f0f0;
    border: none;
    border-radius: 50px;
    box-shadow: 20px 20px 40px rgba(204, 209, 216, 0.48000000000000004), -20px -20px 40px rgba(252, 255, 255, 0.6799999999999999);
    color: #5a6c7d;
    /* padding: 0.8rem 1.6rem; */
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.neumorphic-capsol {
    background: #f0f0f0;
    border: none;
    border-radius: 50px;
    box-shadow: 20px 20px 40px rgba(204, 209, 216, 0.48000000000000004), -20px -20px 40px rgba(252, 255, 255, 0.6799999999999999);
    color: #5a6c7d;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.neumorphic-button:active {
    background: #ffe646;
    transition: background 0.5s ease;
}
.neumorphic-button:active {
    transform: scale(0.98);
}

.metallic-text {
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(135deg, #FFD700 0%, #FFED4E 25%, #C5A028 50%, #FFD700 75%, #FFED4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}


.open-sans-opensans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%); /* Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.modal-backdrop {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2rem;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.element {
  box-shadow:
  0px 15px 35px 0px rgba(0,0,0,0.2);
}